<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Command for DB</title>
</head>
<body>
    <h1>Get Command for DB</h1>
    <br>
    <h3>0815:</h3>
    <p>{{data_0815}}</p>
    <br>
    <h3>Casual:</h3>
    <p>{{data_casual}}</p>
    <br>
    <h3>Hot</h3>
    <p>{{data_hot}}</p>
    <br>
    <h3>K.O.</h3>
    <p>{{data_ko}}</p>
    <br>
    <h3>Duell</h3>
    <p>{{data_duell}}</p>
</body>
</html>
